torch-geometric==2.0.3
torch-utils==0.1.2
torchfile==0.1.0
torchgeometry==0.1.2
torchmetrics==0.2.0
transformers==4.19.2
pytorch-fid==0.2.1
seaborn==0.11.2
selenium==4.4.3
timm==0.5.4
fairscale==0.4.5
imageio==2.13.1
imageio-ffmpeg==0.4.6
tensorboardX==2.5.1
cython==0.29.24
mujoco-py==1.50.1.56
mpi4py==3.0.0
ipdb
glfw
gym[mujoco]
gym[robotics]
pylint
tqdm==4.62.3
autopep8
pyyaml==6.0
fuzzywuzzy
python-Levenshtein
stanford-corenlp
pytorch-pretrained-BERT
slackclient
virtualenv
ipykernel==6.17.0
jupyter
matplotlib==3.5.0
scipy==1.6.3
scikit-learn==0.24.2
Pillow==9.3.0
h5py==3.6.0
keras==2.10.0
lmdb==1.2.1
opencv-python==4.6.0.66
moviepy
requests==2.26.0
cryptography==3.3.2
six==1.16.0
scikit-image==0.17.2
boto3
tensorflow-gpu==2.7.0
notebook==6.5.2
ipywidgets==7.7.1
pydevd-pycharm~=212.5457.59